/* .list {
  background-color: orange;
}

#item {
  background-color: skyblue;
}

li {
  background-color: red;
}

* {
  background-color: dodgerblue;
} */

.list li:first-child {
  background-color: skyblue;
}

.list li.item {
  background-color: orange;
}